@font-face {
    font-family: Handletter;
    src: url('../fonts/Handletter.otf');
}

@font-face {
    font-family: Kodchasan;
    src: url('../fonts/kodchasan/Kodchasan-Regular.ttf');
}

body{
    background: #f1f1f1;
}

.colapsedHeader{
    background-color: violet;
    height: 3rem;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 10000;
}

.noCollapsed{
    height: 3rem !important;
}

header{
    display: flex;
    position: fixed;
    justify-items: center;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 10rem;
    height: 3rem;
    z-index: 20000;
    background: #fff;
    box-shadow: 0 0.2rem .4rem 0 rgba(0, 0, 0, 0.25);
}

header .menuMobile{
    display: none;
}

header .gbIcon{
    display: inline-block;
    position: relative;
}

header .gbIcon a{
    display: block;
    font-size: 26pt;
    text-decoration: none;
    font-family: 'Handletter', sans-serif;
    color: #1A0315;
    cursor: pointer;
    margin-top: 5px;
}

#navBar{
    display: inline-block;
    position: relative;
    background: #88D317;
    height: 100%;
    font-family: 'Kodchasan', sans-serif;
    font-size: 12pt;
}

#navBar ul{
    display: inline-block;
    position: relative;
    padding-left: .5rem;
}

#navBar li{
    display: inline-block;
    position: relative;
    height: 3rem;
}

#navBar a{
    display: block;
    position: relative;
    padding: .6rem;
    color: #1A0315;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 1.8;
    background: transparent;
    transition: all .4s;
}

#navBar a:hover{
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition: all .4s;
}

#navBar a img{
    display: inline-block;
    position: relative;
    width: 20px;
    height: 20px;
    top: -2px
}

#navBar li:last-child{
    background: #1A0315;
    color: #fff;
    padding-right: .5rem;
}

#navBar li:last-child a{
    color: #fff;
}


/********* MENU FIXO E COLLAPSE **********/
#collapsedMenu{
    display: inline-block;
    position: relative;
    padding: .5rem 1rem;
    margin: 5px 2rem;
    float: right;
    color: #fff;
    background-color: grey;
}

.collapsedHeader{
    background-color: #88D317;
    display: block;
    position: relative;
    width: 100%;
    z-index: 2;
    transition: .4s;
}

.closedMenuHeader{
    height: 3rem;
    transition: .4s;
}

.closedMenuHeader .linksBox,
.closedMenuHeader .linksBox .linksItem,
.closedMenuHeader .linksBox .linksItem img{
    display: block;
    position: relative;
    width: 0;
    height: 0;
    opacity: 0;
    transition: .4s;
}

.openMenuHeader{
    height: 15rem;
    transition: .4s;
    padding-top: 4rem;
}

.openMenuHeader .linksBox{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    transition: .4s;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.openMenuHeader .linksBox .linksItem{
    display: block;
    position: relative;
    width: 23%;
    padding: 0.6rem;
    transition: .3s;
}

.break {
    display: none;
}

.openMenuHeader .linksBox .linksItem img{
    display: block;
    position: relative;
    width: 100%;
}


/********* SEÇÃO DA INFO PESSOAIS **********/
#headerImg{
    display: block;
    position: relative;
    height: 18rem; /* 3rem do header somado aos 18rem desejados para o box */
    padding: 0 2rem;
    padding-top: 3rem; /* 3rem escondidos pelo header */
    background-color: #6E3667;
    background-image: url('../img/background/technology.jpg');
    background-repeat: no-repeat;
    background-position: 80% 70%;
    background-attachment: local;
    background-size: cover;
    background-origin: padding-box;
    background-blend-mode: darken;
}

#headerImg .boxInHeader{
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 65%;
    height: 18rem;
    margin: 0 auto;
    margin-top: 6rem;
    z-index: 2;
    background-color: #6E3667;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

#headerImg .boxInHeader .boxDataInHeader{
    display: inline-block;
    position: relative;
    width: 50%;
    height: 18rem;
    background-color: #6E3667;
    margin: 0;
    padding: 1rem;
    padding-left: 1.5rem;
}

#headerImg .boxInHeader .boxDataInHeader ul, #headerImg .boxInHeader .boxDataInHeader li{
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: 'Kodchasan', sans-serif;
    color: #fff;
    margin-bottom: 8px;
    font-size: 12pt;
    font-weight: 400;
}

#headerImg .boxInHeader .boxDataInHeader h1{
    font-family: 'Handletter', sans-serif;
    font-size: 40pt;
    color: #88D317;
    letter-spacing: .15rem;
    margin: 0;
}

#headerImg .boxInHeader .boxDataInHeader h2{
    font-size: 18pt;
    margin: 0;
}

#headerImg .boxInHeader .boxDataInHeader i{
    color: #88D317;
    margin-right: 5px;
}

#headerImg .boxInHeader .boxPictureInHeader{
    display: inline-block;
    position: relative;
    width: 50%;
    height: 18rem;
    background-color: #333;
    margin: 0;
}

#headerImg .boxInHeader .boxPictureInHeader .bgdSideInHeader{
    display: inline-block;
    position: absolute;
    width: 100%;
    background: transparent;
    z-index: 2;
    height: 100%;
    background-image: url(../img/back-triang.png);
    background-repeat: no-repeat;
    background-origin: padding-box;
    background-size: auto 100%;
    background-position: 0%;
}

#headerImg .boxInHeader .boxPictureInHeader img{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}



/********* SEÇÃO SOBRE MIM **********/
#aboutMe{
    display: block;
    position: relative;
    background-color: transparent;
    padding: 0 2rem;
    margin-top: 13rem; /* 9rem (18/2) somado os 4rem usados para separar dois blocos */
}

#aboutMe .boxInAboutMe{
    display: block;
    position: relative;
    width: 65%;
    margin: 0 auto;
    padding: 0 1.5rem;
    background: #88D317;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

#aboutMe .boxInAboutMe .titleInBox{
    display: block;
    position: relative;
    padding: 1.5rem 0;
    text-align: center;
    font-size: 18pt;
    font-family: 'Kodchasan', sans-serif;
    color: #6E3667;
    border-bottom: 1px solid #f1f1f1;
    text-transform: uppercase;
}

#aboutMe .boxInAboutMe .titleInBox h3{
    font-size: 18pt;
    padding: 0;
    margin: 0;
}

#aboutMe .boxInAboutMe .bodyBox{
    display: block;
    width: 100%;
    padding: 1rem 0;
    text-align: justify;
    font-family: 'Kodchasan', sans-serif;
    font-size: 14pt;
    color: #1A0315;
    font-weight: 300;
}

#aboutMe .boxInAboutMe .bodyBox p{
    text-indent: 2rem;
    line-height: 1.8;
}


/********* SEÇÃO MERCHAN DO SITE **********/
#merchanSite{
    display: block;
    position: relative;
    width: 100%;
    background: #6E3667;
    margin-top: 4rem;
    padding: 0 2rem;
    background-image: url("../img/background/back-pixel.png");
}

#merchanSite .boxInMerchan{
    width:90%;
    margin:auto;
    display: -webkit-flex;
    display:flex;
    wrap-option: nowrap;
}

#merchanSite .boxInMerchan .responsiveItemMerchar{
    flex:1;
    padding-right: 1rem;
}

#merchanSite .boxInMerchan .safeItemMerchan{
    flex:1;
    padding: 0 1rem;
}

#merchanSite .boxInMerchan .elegantItemMerchan{
    flex:1;
    padding-left: 1rem;
}

#merchanSite .boxInMerchan .itemForMobile{
    flex: 2;
    display: block;
    position: relative;
}

#merchanSite .boxInMerchan .itemMerchanTitle{
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 1.5rem 0;
    font-size: 18pt;
    font-family: 'Kodchasan', sans-serif;
    color: #FFF;
    border-bottom: 1px solid #f1f1f1;
    text-transform: uppercase;
}

#merchanSite .boxInMerchan p{
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    font-family: 'Kodchasan', sans-serif;
    color: #fff;
    padding: .6rem 0 1.5rem 0;
}

#merchanSite .boxInMerchan img{
    display: block;
    position: relative;
    width: 100%;
    margin-top: .6rem;
}

#merchanSite .boxInMerchan p{
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    text-align: center;
}

/********* SEÇÃO HABILIDADES **********/
#skillBar{
    display: block;
    position: relative;
    padding: 0 2rem;
    margin-top: 4rem;
}

#skillBar .boxInSkillBar{
    display: block;
    position: relative;
    width: 65%;
    margin: 0 auto;
    padding: 0 1.5rem;
    background: #6E3667;
    box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
}

#skillBar .skillBarSet{
    display: block;
    position: relative;
    margin: 0 auto;
    width: 65%;
    padding: 1.5rem 0;
    padding-bottom: 2rem;
}

#skillBar .boxInSkillBar .skillBoxTitle{
    display: block;
    position: relative;
    width: 100%;
    text-align: center;
    padding: 1.5rem 0;
    font-size: 18pt;
    font-family: 'Kodchasan', sans-serif;
    color: #FFF;
    border-bottom: 1px solid #f1f1f1;
    text-transform: uppercase;
}

#skillBar .skillBarItem{
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    font-family: 'Kodchasan', sans-serif;
    color: #fff;
    margin-bottom: 1rem;
}

#skillBar .skillBarItem:last-child{
    margin-bottom: 0;
}

#skillBar .skillBarSet .skillLanguageIcon{
    display: block;
    position: relative;
    width: 12%;
    font-size: 16pt;
    color: #88D317;
    text-align: center;
}

#skillBar .skillBarSet .skillProcressBar{
    display: block;
    position: relative;
    width: 88%;
}

#skillBar .skillBarSet .skillItemTitle{
    display: inline-block;
}

#skillBar .skillBarSet .skillItemMaxValue{
    display: inline-block;
    float: right;
}

#skillBar .skillBarSet .progressBar {
    position: relative;
    width: 100%;
    height: 4px;
    background: #eeeeee;
    border-radius: 0;
}

#skillBar .skillBarSet .elementSkillHtml,
#skillBar .skillBarSet .elementSkillCss,
#skillBar .skillBarSet .elementSkillJs,
#skillBar .skillBarSet .elementSkillPhp{
    background: #88D317;
    border-radius: 0;
}

#skillBar .skillBarSet .progress {
    height: 4px;
    position: absolute;
    border-radius: 0;
}





#clientFeedBack{
    display: block;
    width: 100%;
    padding: 2rem;
    background: #6E3667;
    margin-top: 4rem;
}

#clientFeedBack .boxInClientFeed{
    display: block;
    width: 100%;
}

#clientFeedBack .boxInClientFeed .itemClientFeed{
    display: inline-block;
    position: relative;
    width: 60rem;
    padding: 1rem;
}

#clientFeedBack .boxInClientFeed .boxTextClient{
    display: block;
    position: relative;
    width: 22rem;
    padding: 1rem;
    font-family: 'Kodchasan', sans-serif;
    font-size: 10pt;
    color: #1A0315;
    border-radius: .2rem;
    background: #fff;
    border-left: 6px solid #88D317;
    margin-bottom: 3.5rem;
}

#clientFeedBack .boxInClientFeed .boxTextClient p{
    padding: 0;
    margin: 0;
    opacity: .8;
    line-height: 1.8;
}

#clientFeedBack .boxInClientFeed .boxClientInfo:before{
    content: '';
    display: block;
    position: relative;
    width: 0;
    height: 0;
    border-left: 1rem solid transparent;
    border-right: 2rem solid transparent;
    border-top: 2.5rem solid #fff;
    top: -3.8rem;
    left: 1.5rem;
}

#clientFeedBack .boxInClientFeed .boxClientInfo{
    display: flex;
    position: relative;
    width: 30%;
}

#clientFeedBack .boxInClientFeed .clientImage{
    display: inline-block;
    position: relative;
    width: 30%;
    margin-left: -4rem;
}

#clientFeedBack .boxInClientFeed .clientImage img{
    display: block;
    position: relative;
    width: 70%;
    float: right;
    border-radius: 50%;
}

#clientFeedBack .boxInClientFeed .clientName{
    display: block;
    position: relative;
    width: 100%;
    font-size: 10pt;
    font-family: 'Kodchasan', sans-serif;
    color: #ccc;
    text-transform: uppercase;
    padding-left: 1rem;
}

#clientFeedBack .boxInClientFeed .stars{
    display: block;
    list-style: none;
    padding-left: 1rem;
}

#clientFeedBack .boxInClientFeed .stars ul{
    margin: 0;
    padding: 0;
}

#clientFeedBack .boxInClientFeed .starUnity {
    display: inline-block;
    position: relative;
    height: 16px;
    width: 16px;
    margin-right: 2px;
    background: #6E3667;
    background: url("../img/icons/star.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}




#contactAndMap{
    display: block;
    position: relative;
    width: 100%;
    height: 28rem;
    background: transparent;
    margin-top: 7rem;
}

#contactAndMap #leafletArea {
    width: 100%;
    height: 100%;
    position: absolute;
}

#contactAndMap .boxMap{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

#contactAndMap .boxContact{
    display: block;
    position: relative;
    width: 35%;
    height: 34rem;
    background: #88D317;
    top: -3rem;
    margin-left: calc(16.5% + 2rem);
    padding: 1rem;
    font-family: 'Kodchasan', sans-serif;
    z-index: 10000;
}

#contactAndMap .boxContact .boxForMobileContact{
    display: block;
    position: relative;
    width: 100%;
}

textarea {
    height: auto !important;
}

#contactAndMap .boxContact button{
    width: 100%;
    padding: 8px;
    border: none;
    border-top: 3px solid #6E3667;
    border-bottom: 3px solid #6E3667;
    background-color: transparent;
    border-radius: 0;
    color: #6E3667;
    font-family: 'Kodchasan', sans-serif;
    font-size: 16pt;
    z-index: 3;
    transition: all .5s;
    cursor: pointer;
}

#contactAndMap .boxContact button:hover{
    background-color: #6E3667;
    color: #fff;
    transition: all .5s;
    box-shadow: 0 0.2rem .4rem 0 rgba(0, 0, 0, 0.2);
}

#contactAndMap .boxContact .inputBox{
    position: relative;
    box-sizing: border-box;
    margin-bottom: 20px;
    border: 1px solid #6E3667;
    padding-top: 20px;
    border-right: 6px solid #6E3667;
    box-shadow: 0 0.2rem .4rem 0 rgba(0, 0, 0, 0.16);
    background-color: #ddd;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#contactAndMap .boxContact .inputBox i{
    color: #88D317;
}

#contactAndMap .boxContact .inputBox .inputText{
    position: absolute;
    font-size: 30px;
    line-height: 35px;
    margin-left: 4rem;
    transition: .5s;
    opacity: .5;
    color: #6E3667;
}

#contactAndMap .boxContact .focusInputFieldContact .inputText{
    transform: translateY(-30px);
    font-size: 14px;
    opacity: 1;
    color: #6E3667;
    line-height: 50px;
}

#contactAndMap .boxContact .inputBox .inputFieldContact{
    position: relative;
    width: calc(100% - 4rem);
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 20px;
    margin-left: 4rem;
    color: #1A0315;
}

#contactAndMap .boxContact .inputBox .iconFieldContact{
    display: block;
    position: absolute;
    background-color: #6E3667;
    width: 3.5rem;
    height: 100%;
    top: 0;
    text-align: center;
    line-height: 70px;
}





#footerCustum{
    display: block;
    position: relative;
    width: 100%;
    padding: 1rem;
    text-align: center;
    background: #535353;
    margin-top: 7rem;
}

#footerCustum .sharingBox a{
    display: inline-block;
    font-size: 22pt;
    color: #fff;
    margin: 0;
    margin-bottom: 20px;
    transition: all .3s;
    border-radius: .25rem;
    padding: 0 1rem;
    padding-bottom: .4rem;
}

#footerCustum .sharingBox .wz:hover{
    color: #075e54;
    transition: all .3s;
    background: #dddddd;
}

#footerCustum .sharingBox .fb:hover{
    color: #3b5998;
    transition: all .3s;
    background: #dddddd;
}

#footerCustum .sharingBox .tt:hover{
    color: #00aced;
    transition: all .3s;
    background: #dddddd;
}

#footerCustum .sharingBox .em:hover{
    color: #cd486b;
    transition: all .3s;
    background: #dddddd;
}

#footerCustum .footerCopyright{
    color: #bbb;
    font-family: 'Kodchasan', sans-serif;
    padding-bottom: 1rem;
    font-size: 11pt;
}

#footerCustum .footerCopyright span{
    color: #88D317;
}


/* OwlCarousel custom */
.owl-theme .owl-nav {
    display: flex;
    margin-top: 10px;
    text-align: center;
    -webkit-tap-highlight-color: transparent;
    justify-content: space-between;
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next{
    font-size: 0;
    color: transparent;
    height: 4rem;
    width: 4rem;
    padding: .4rem;
    line-height: 0;
    background: #ec407a;
    outline: none;
    opacity: .6;
}

.owl-carousel .owl-nav button.owl-prev{
    background: url("../img/icons/arrow-back.svg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
}

.owl-carousel .owl-nav button.owl-next{
    background: url("../img/icons/arrow-next.svg");
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    transition: all .4s;
}

.owl-carousel .owl-nav button.owl-next:hover{
    background: url("../img/icons/arrow-next-full.svg");
    transition: all .4s;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    opacity: 1;
}

.owl-carousel .owl-nav button.owl-prev:hover{
    background: url("../img/icons/arrow-back-full.svg");
    transition: all .4s;
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    opacity: 1;
}

.owl-theme .owl-dots{
    margin-top: -3rem;
    opacity: 1;
    outline: none;
}

.owl-theme .owl-dots .owl-dot span{
    opacity: .6;
    color: #88D317;
    width: 3rem;
    height: 5px;
    outline: none;
}

.owl-theme .owl-dots .owl-dot.active span{
    opacity: 1;
    color: #88D317;
}